# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.spec

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini

# Large files (use GitHub Releases)
*.zip
*.rar
*.7z
